@charset "UTF-8";
html{
 font-size: 100%;
}
body{
  padding: 0;
  margin: 0;
}

header{
  display:flex;
  justify-content:space-between;
}

h1{
  font-weight: bold;
  text-align: center;
}

nav ul{
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

article img {
  display:block;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
article p {
  text-align: center;
}
article h2 {
  margin: 50px 30px;
  text-align: center;
}

section h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 100px;
}

section img { 
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

section p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding:30px 100px;
  background-color: rgb(241, 231, 189);
}

.container img {
  border-radius: 20%;
  width: 250px;
  height: 200px;
  padding:0 30px;
}

.container h2{
  padding: 0 30px;
}

.container p{
  padding: 0 30px;
}

footer {
  background-color: rgba(230, 235, 111, 0.993);
  width: 100%;
  text-align: center;
}

footer img {
  list-style:none;
  margin: 0;
  padding-left: 50px;
  flex-direction: column;
  width: 50px;
  height: 50px;
}

/*スマホ版*/
@media (max-width: 375px){
  body {
    padding: 0;
    margin: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }


  .PC-img {
    object-fit: cover;
    object-position:left;
  }
}
